html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #FFF url(../images/bg_t.png) left top repeat-x;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

a {
	color: #0EBAF1;
	text-decoration: none;
}

a img {
	border: none;
}

a:hover {
	color: #555;
	text-decoration: none;
}

a,
a:focus {
	outline: none;
}

/* --- Headings --- { --- */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 25px;
	padding-bottom: 25px;	
}

h2 {
}
	h2.ttl {
		font-size: 21px;
		padding: 0 7px 0 7px;
	}

h3 {
	font-size: 18px;
}

h4 {
}

h5 {
}

h6 {
}

small {
	display: block;
	font-size: 11px;
}

/* --- } --- Headings --- */


.small {
	font-size: 11px;
}


.blue {
	color: #00B6F0;
}


.arw_wh_l {
	background: url(../images/arw_wh_l.gif) left center no-repeat;
	padding-left: 15px;
}

.arw_wh_r {
	background: url(../images/arw_wh_r.gif) right center no-repeat;
	padding-right: 15px;
}


p, form, ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 910px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
	
	#wrapper .vTop, #wrapper table.vTop td {
		vertical-align: top;
	}
	#wrapper .vMid, #wrapper table.vMid td {
		vertical-align: middle;
	}
	#wrapper .vBot, #wrapper table.vBot td {
		vertical-align: bottom;
	}

.cleaner {
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	margin-bottom: -1px;
	clear: both;
}

.show {
	display: block;
}
.hide {
	display: none;
}

#header {
	padding: 22px 0 0 0;
	height: 61px;
	color: #FFF;
}
	#header #logo {
		float: left;
	}
	
	/*  Change Your Location  */
	#header #yLocation {
		float: left;
		padding: 0 0 0 15px;
		width: 300px;
		height: 50px;
		position: relative;
		z-index: 101;
	}
		#header #yLocation #yLocAct {
			display: block;
			font-size: 14px;
			padding-bottom: 3px;
		}
		
		#header #yLocation #yLocChange {
			display: block;
			width: 142px;
			height: 21px;
			background: url(../images/sprites.gif) left top no-repeat;
		}
			#header #yLocation #yLocChange:hover, #header #yLocation #yLocChange.act {
				background: url(../images/sprites.gif) -175px top no-repeat;
			}
			
		
		#header #yLocFrm {
			background-color: #009BCE;
			border: 1px solid #007297;
			position: absolute;
			z-index: 101;
			left: 15px;
			top: 41px;
			padding: 8px;
			width: 245px;
		}
			#header #yLocFrm label {
				display: block;
				font-weight: bold;
				padding-bottom: 2px;
			}
			
			#header #yLocFrm select {
				background-color: #FFF;
				border: 1px solid #007297;
				font-family: Tahoma, Arial, Helvetica, sans-serif;
				font-size: 12px;
				color: #666;
				padding: 4px 3px;
				width: 245px;
				margin-bottom: 6px;
			}
			
			#header #yLocFrm .btnBlue { background: url(../images/btns_ob.gif) left 0px no-repeat; }	
				#header #yLocFrm .btnBlue span { background: url(../images/btns_ob.gif) right 0px no-repeat; }
				#header #yLocFrm .btnBlue:hover { background: url(../images/btns_ob.gif) left -35px no-repeat; }	
					#header #yLocFrm .btnBlue:hover span { background: url(../images/btns_ob.gif) right -35px no-repeat; }
					
			#header #yLocFrm .btnGreen { background: url(../images/btns_ob.gif) left -70px no-repeat; }	
				#header #yLocFrm .btnGreen span { background: url(../images/btns_ob.gif) right -70px no-repeat; }
				#header #yLocFrm .btnGreen:hover { background: url(../images/btns_ob.gif) left -105px no-repeat; }	
					#header #yLocFrm .btnGreen:hover span { background: url(../images/btns_ob.gif) right -105px no-repeat; }
		
		
		#header .btnJoin, #header .btnSignUp  {
			float: right;
			width: 115px;
			height: 37px;
		}
			#header .btnJoin  {
				background: url(../images/sprites.gif) left -75px no-repeat;
				margin-left: 10px;
			}
				#header .btnJoin:hover  {
					background: url(../images/sprites.gif) -175px -75px no-repeat;
				}
			
			#header .btnSignUp  {
				background: url(../images/sprites.gif) left -30px no-repeat;
			}
				#header .btnSignUp:hover  {
					background: url(../images/sprites.gif) -175px -30px no-repeat;
				}
		




#topMenu {
	clear: both;
	font-size: 16px;
	color: #FFF;
	padding: 13px 0 0 0;
	height: 60px;
}
	#topMenu a {
			color: #FFF;
		}
			#topMenu a:hover {
				color: #00B6F0;
			}
	
	#topMenu .tm_pop {
		float: left;
	}
	
	#topMenu .tm_more {
		float: right;
	}
	
	#topMenu ul {
		float: right;
	}
		#topMenu li {
			float: left;
			background: url(../images/tm_li.gif) right 3px no-repeat;
			padding-right: 25px;
			margin-right: 24px;
		}
		
		#wrapper #topMenu .last {
			background: none;
			padding-right: 37px;
			margin-right: 0;
		}

		

#searchTabs {
	height: 34px;
	width: 820px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
	#searchTabs ul {
		position: absolute;
		z-index: 100;
		left: 0;
		top: 0;
		height: 35px;
		font-size: 16px;
		width: 900px;
	}
	
	#searchTabs ul li,
	#searchTabs ul li a {
		display: block;
		float: left;
	}
	
	#searchTabs ul li {	
		height: 35px;
		padding-right: 5px;
	}
		
	#searchTabs ul li a {
		padding: 7px 22px 0 21px;
		height: 26px;
		color: #666;
		background-color: #E9EDF0;
		border-left: 1px solid #CDD2D6;
		border-top: 1px solid #CDD2D6;
		border-right: 1px solid #CDD2D6;
	}
		#searchTabs ul li a:hover {
			color: #00B6F0;
			text-decoration: none;
		}
		
	#searchTabs ul .act {
		background: #00B6F0;
		color: #FFF;
		border-left: 1px solid #008BB9;
		border-top: 1px solid #008BB9;
		border-right: 1px solid #008BB9;
		height: 27px;
	}
		
	#wrapper #searchTabs ul .act:hover  {
		color: #FFF;
	}	
	
	

#searchBg {
	width: 800px;
	background: #00B6F0;
	padding: 7px 9px 6px 9px;
	border: 1px solid #008BB9;
	color: #FFF;
	position: relative;
	z-index: 99;
	margin: 0 auto 20px auto;
}	

	#searchBg form {
		padding: 3px;
		background-color: #1DC7FF;
		margin-bottom: 1px;
	}
	
	.selCat {
		float: left;
		display: block;
		height: 22px;
		width: 99px;
		padding: 5px 26px 0 2px;
		background: url(../images/sprites.gif) -230px -440px no-repeat;
		font-size: 12px;
		font-weight: bold;
		text-align: center;
		color: #FFF;
	}
		#wrapper .selCat:hover,
		#searchBg .hover {
			background: url(../images/sprites.gif) -360px -440px no-repeat;
			color: #FFF;
		}
	
	#keyword{
		float: left;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: normal;
		color: #999;
		border-top: 1px solid #008CBA;
		border-right: 1px solid #008CBA;
		border-bottom: 1px solid #008CBA;
		border-left: none;
		padding: 4px 4px 4px 5px;
		width: 500px;
	}
		
	.sBtn {
		float: left;
		display: block;
		text-decoration: none;
		border: none;
		height: 27px;
		width: 85px;
		background: url(../images/sprites.gif) 0px -440px no-repeat;
		cursor: pointer;
		margin: 0 0 0 3px;
	}
		#wrapper .sBtn:hover {
			background: url(../images/sprites.gif) -115px -440px no-repeat;
		}
		
	#searchBg .adv {
		float: left;
		display: block;
		text-decoration: none;
		border: none;
		height: 27px;
		width: 27px;
		background: url(../images/sprites.gif) -85px -440px no-repeat;
		cursor: pointer;
	}
		#wrapper #searchBg .adv:hover {
			background: url(../images/sprites.gif) -200px -440px no-repeat;
		}
	
	
	#wrapper #searchBg .dd {
		top: 36px;
		z-index: 99;
	}	
		#wrapper #searchBg .dd a {
			color: #333;
		}
		
		#wrapper #searchBg .dd a:hover {
			color: #333;
			text-decoration: none;
			background-color: #EBF9FE;
		}


		
.autocomplete {
	position: absolute;
	z-index: 98;
	background-color: #FFF;
	border: 1px solid #666;
	width: 641px;
	top: 36px;
	left: 138px;
}
	.autocomplete .ac_result {
		border-bottom: 1px solid #B6C4CD;
		padding: 6px 0 6px 0;
	}
		#wrapper .autocomplete .last {
			border-bottom: none;
			padding: 6px 0 4px 0;
		}
	
	.autocomplete h3 {
		font-size: 14px;
		color: #00B6F0;
		padding: 0 5px 3px 6px;
	}
	
	#wrapper .autocomplete ul {
		margin: 0;
		padding: 0;
	}	
		#wrapper .autocomplete li {
			display: block;
			margin: 0;
			width: 641px;
			padding: 0;
			font-size: 12px;
		}	
			#wrapper .autocomplete li a {
				display: block;
				padding: 3px 5px 4px 6px;
				width: 630px;
				color: #666;
			}
				#wrapper .autocomplete li a:hover, #wrapper .autocomplete li a.act {
					background-color: #00B6F0;
					color: #FFF;
				}

	.ac_general .ac_viewAll {
		display: block;
		padding: 3px 0 4px 15px;
		width: 626px;
		margin-top: 1px;
		background: #FFF url(../images/ac_arws.gif) 7px 7px no-repeat;
		color: #00B6F0;
	}
		.ac_general .ac_viewAll:hover {
			background: #00B6F0 url(../images/ac_arws.gif) 7px -53px no-repeat;
			color: #FFF;
		}

	.ac_category .ac_viewAll {
		display: block;
		padding: 5px 0 5px 17px;
		height: 14px;
		width: 624px;
		position: relative;
		z-index: 1;
		margin-top: -1px;
		background: #2C83CD url(../images/ac_arws.gif) 7px -111px no-repeat;
		font-weight: bold;
		color: #FFF;
	}
		.ac_category .ac_viewAll:hover {
			background: #0F69B6 url(../images/ac_arws.gif) 7px -171px no-repeat;
			color: #FFF;
		}
		


#content {
	clear: both;
	padding-bottom: 320px;
}
	#content p {
		padding: 0 0 16px 0;
	}

	#content td {
		vertical-align: top;
	}

	
.ttl_div1 {
	background: url(../images/ttl_div1.gif) left top repeat-x;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 8px 0 8px;
	height: 29px;
	border-bottom: 1px solid #ACACAC;
	/* border-bottom: 1px solid #D8DCDD; */
}
	.div1 .ttl_div1 {
		border-bottom: 1px solid #D8DCDD;
	}
	
	#middle .ttl_div1 {
		position: relative;
		z-index: 1;
		width: 630px;
		height: 29px;
	}
		#middle .ttl_div1 .btnBackMain {
			position: absolute;
			z-index: 1;
			top: 8px;
			right: 9px;
		}

.ttl_div2 {
	font-size: 18px;
	line-height: 18px;
	padding: 0 8px 7px 8px;
}

.ttl_div3 {
	background: url(../images/ttl_div3.gif) left top repeat-x;
	font-size: 18px;
	line-height: 18px;
	padding: 10px 8px 0 8px;
	height: 29px;
	color: #FFF;
	border-left: 1px solid #00B6F0;
	border-top: 1px solid #00B6F0;
	border-right: 1px solid #00B6F0;
	border-bottom: 1px solid #ACACAC;
	/* border-bottom: 1px solid #D8DCDD; */
}

	#middle .padd .tbl_ttl {
		position: relative;
		z-index: 1;
		border-left: 1px solid #D8DCDF;
		border-top: 1px solid #D8DCDF;
		border-right: 1px solid #D8DCDF;
		border-bottom: none;
		width: 341px;
		height: 41px;
	}
		
		#middle .padd .tbl_ttl .ttl_div3 {
			border-bottom: 1px solid #8FD3E9;
		}
	
		#middle .tbl_ttl .btnBlue {
			background: url(../images/btns_ob.gif) left -140px no-repeat;
			position: absolute;
			z-index: 1;
			top: 6px;
			right: 8px;
			line-height: 14px;
		}	
			#middle .tbl_ttl .btnBlue span { background: url(../images/btns_ob.gif) right -140px no-repeat; }
			#middle .tbl_ttl .btnBlue:hover { background: url(../images/btns_ob.gif) left -175px no-repeat; }	
				#middle .tbl_ttl .btnBlue:hover span { background: url(../images/btns_ob.gif) right -175px no-repeat; }


.div1 {
	border: 1px solid #ACACAC;
	margin-bottom: 5px;
}
	.ins_div1 {
		background-color: #EBF9FE;
		border-top: 1px solid #ACACAC;
		padding: 17px 0 18px 75px;
	}

.hm_div1 {
	float: left;
	width: 100%;
	border: 1px solid #ACACAC;
	margin-bottom: 25px;
}

.hm_div2 {
	float: right;
	width: 324px;
	height: 262px;
	border: 1px solid #ACACAC;
	position: relative;
	z-index: 10;
	margin-bottom: 25px;
}

.hm_div3 {
	float: left;
	width: 448px;
	margin-bottom: 25px;
}

.hm_div4 {
	float: right;
	width: 447px;
	margin-bottom: 25px;
}




/*  Select Your Region  */
#yRegion {
	position: absolute;
	z-index: 10;
	right: 7px;
	top: 8px;
}	
	#yRegion #yRegSelect {
		display: block;
		width: 138px;
		height: 22px;
		background: url(../images/sprites.gif) -345px -145px no-repeat;
	}
		#yRegion #yRegSelect:hover, #yRegion #yRegSelect.act {
			background: url(../images/sprites.gif) -560px -145px no-repeat;
		}
		
	#yRegion #yRegSelect_dd { width:105px; top: 22px; right: 0; }
		#yRegion #yRegSelect_dd ul, #yRegion #yRegSelect_dd ul li { width:105px; }
			#yRegion #yRegSelect_dd ul li a { width:92px; }
				
				

/*  The Best Places tabs  */	
#bpTabs {
		width: 22%;
	float: left;
}
	#bpTabs h2 {
		font-size: 12px;
		font-weight: normal;
	}
	
	#bpTabs a {
		background: url(../images/bp_tabs.gif) left top no-repeat;
		display: block;
		color: #666;
	}	
		#bpTabs a span {
			background: url(../tmp/bp_icon.png) 7px 11px no-repeat;
			display: block;
			cursor: pointer;
			padding: 14px 0 0 37px;
			width: 155px;
			height: 30px;
		}	
			#bpTabs .last a span {
				height: 32px;
			}
		
		#bpTabs a b {
			font-size: 14px;
			font-weight: normal;
		}
		
		#bpTabs a:hover {
			background: url(../images/bp_tabs.gif) left -55px no-repeat;
			color: #FFF;
		}
		
		#wrapper #bpTabs a.act {
			background: url(../images/bp_tabs.gif) left -110px no-repeat;
			color: #FFF;
		}
			#wrapper #bpTabs a.act b {
				font-weight: bold;
			}

			
.bpForms {
	padding: 5px 0 0 5px;
	float: left;
	width: 76%;
}
	.bpForms .label {
		display: block;
		font-size: 14px;
		color: #00B6F0;
		padding-bottom: 2px;
		float: left;
		clear: left;
	}
	
	.bpForms .input {
		margin-bottom: 8px;
		float: left;
		clear: left;
	}
		.bpForms .input input {
			width: 270px;
		}
	
	.bpForms .chk_box {
		margin: 12px 7px 0 3px;
	}
	
	.bpForms .chk_label {
		float: left;
		padding-top: 11px;
	}
	
	#wrapper .bpForms .btnSearch {
		margin: 5px 3px 0 0;
		float: right;
	}


	
#yRegSelect_dd,
.dd {
	position: absolute;
	z-index: 10;
	width: 170px;
	background-color: #FFF;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #ACACAC;
	padding: 2px;
	top: 30px;
}
	#yRegSelect_dd ul, #yRegSelect_dd ul li, #yRegSelect_dd ul li a,
	.dd ul, .dd ul li, .dd ul li a {
		display: block;
	}
	
	#yRegSelect_dd ul, #yRegSelect_dd ul li,
	.dd ul, .dd ul li {
		width: 170px;
	}
		#yRegSelect_dd ul li,
		.dd ul li {
			padding-bottom: 1px;
		}
			#yRegSelect_dd ul li a,
			.dd ul li a {
				color: #00B6F0;
				padding: 2px 5px 3px 8px;
				width: 157px;
				text-decoration: none;
			}	
				#yRegSelect_dd ul li a:hover, #yRegSelect_dd ul li .act,
				.dd ul li a:hover, .dd ul li .act {
					color: #666666;
					background-color: #EBF9FE;
					text-decoration: none;
				}	
	


/*  Facebook box  */	
#fbBox {
	background: url(../images/fb_box.gif) left top no-repeat;
	font-size: 11px;
	width: 306px;
	height: 66px;
	padding: 18px 49px 0 93px;
}
	#fbBox.hover {
		background: url(../images/fb_box.gif) left bottom no-repeat;
	}
	
	#fbBox h4 {
		font-size: 16px;
		color: #3B5998;
		padding-bottom: 5px;
	}
	
	#fbBox .share {
		float: left;
	}
	
	#fbBox .fb_link {
		float: right;
		margin-top: 3px;
	}


.icon_mobile {
	background: url(../images/icon_mobile.gif) left top no-repeat;
	padding-left: 12px;
}	
	
#mobTabs {
	border: 1px solid #B7B7B7;
	font-size: 11px;
}
	#mobTabs ul {
		background: url(../images/mob_tabs.gif) left top no-repeat;
		display: block;
		width: 439px;
		height: 48px;
		padding: 7px 0 0 6px;
	}
		#mobTabs li, #mobTabs li a {
			float: left;
			height: 48px;
		}	
		
		#mobTabs li {
			padding-right: 2px;
		}
		
		#mobTabs #mob_tab1 {	width: 101px; }
		#mobTabs #mob_tab1:hover, #mobTabs #mob_tab1.act {
			background: url(../images/mob_tabs.gif) -6px -67px no-repeat;
		}
		
		#mobTabs #mob_tab2 {	width: 128px; }
		#mobTabs #mob_tab2:hover, #mobTabs #mob_tab2.act {
			background: url(../images/mob_tabs.gif) -109px -127px no-repeat;
		}
		
		#mobTabs #mob_tab3 {	width: 88px; }
		#mobTabs #mob_tab3:hover, #mobTabs #mob_tab3.act {
			background: url(../images/mob_tabs.gif) -239px -187px no-repeat;
		}
		
		#mobTabs #mob_tab4 {	width: 110px; }
		#mobTabs #mob_tab4:hover, #mobTabs #mob_tab4.act {
			background: url(../images/mob_tabs.gif) -329px -247px no-repeat;
		}
		

	#mobTabs div {
		padding: 6px 0 8px 15px;
	}


	

/*  List with thumbnails  */
.thmbList li {
	display: block;
	padding: 4px 8px;
	font-size: 11px;
}
	.thmbList .odd,
	.thmbList .hover {
		background-color: #EBF9FE;
	}

	.thmbList .thmb {
		float: left;
		width: 70px;
	}
		.thmbList .thmb img {
			width: 63px;
			height: 63px;
		}
	
	.thmbList .entry {
		float: left;
		width: 350px;
	}
		.thmbList .entry .name, 
		.thmbList .entry .stars, 
		.thmbList .entry .icon_q {
			float: left;
		}
		
		.thmbList .entry .name {
			font-size: 14px;
			line-height: 14px;
		}
		
		.thmbList .entry .stars {
			height: 13px;
			padding: 1px 0px 0 5px;
		}
			.thmbList .entry .stars a {
				float: left;
				height: 13px;
				width: 14px;
				margin-right: 2px;
				background: url(../images/icon_star.gif) left top no-repeat;
			}
				.thmbList .entry .stars a:hover, .thmbList .entry .stars .act {
					background: url(../images/icon_star_.gif) left top no-repeat;
				}
		
		.thmbList .entry .icon_q {
			height: 13px;
			width: 13px;
			background: url(../images/icon_q.gif) 1px 1px no-repeat;
		}
			.thmbList .entry .icon_q:hover {
				background: url(../images/icon_q.gif) -11px 1px no-repeat;
			}
			
			.thmbList .entry .icon_q:active {
				background: url(../images/icon_q.gif) -23px 1px no-repeat;
			}
		
		.thmbList .entry .txt {
			clear: both;
			font-weight: bold;
			padding-top: 5px;
		}
			#wrapper .thmbList .entry .txt p {
				padding-bottom: 5px;
			}

			
		#wrapper .thmbList .entry .meta li {
			float: left;
			padding: 0 10px 0 0;
			width: auto;
		}
	
	
.hm_div3 .thmbList,
.hm_div4 .thmbList {
	padding: 4px 0;
	border-left: 1px solid #D8DCDF;
	border-right: 1px solid #D8DCDF;
}
	#wrapper .hm_div3 .thmbList .entry,
	#wrapper .hm_div4 .thmbList .entry {
		width: 345px;
	}
	
	

.moreBox {
	background-color: #EFF2F5;
	padding: 4px 8px;
	border-left: 1px solid #D8DCDF;
	border-right: 1px solid #D8DCDF;
	border-bottom: 1px solid #D8DCDF;
}
	

.hm_div3 .ttl_div3 {
	position: relative;
	z-index: 1;
	width: 430px;
	height: 29px;
}

/*  Tabs for title with blue background  */
#wrapper .ttl3_tabs {
	position: absolute;
	z-index: 1;
	top: 6px;
	right: 6px;
	font-size: 12px;
}
	.ttl3_tabs li, .ttl3_tabs li span {
		float: left;
	}
	
	.ttl3_tabs li {
		height: 33px;
		background: url(../images/ttl3_tabs_li.gif) right 7px no-repeat;
		padding-right: 2px;
		
	}
		#wrapper .ttl3_tabs li.last {
			background: none;
			padding-right: 0px;
			
		}
	
	.ttl3_tabs li span {
		padding: 4px 15px 0 15px;
		height: 29px;
	}
	
	.ttl3_tabs .act span {
		background-color: #FFF;
		border-left: 1px solid #D8DCDD;
		border-top: 1px solid #D8DCDD;
		border-right: 1px solid #D8DCDD;
		padding: 4px 15px 0 15px;
		height: 29px;
	}
	
	.ttl3_tabs li a {
		color: #FFF;
	}
		.ttl3_tabs li a:hover, #wrapper .ttl3_tabs li.act a {
			color: #666;
		}
	

/*  Bottom 4 buttons  */

#bottom {
	padding: 0 0 0 8px;
}
	#bottom .block {
		float: left;
		width: 201px;
		padding-right: 30px;
	}
		#wrapper #bottom .last {
			padding-right: 0px;
		}
	
	#bottom .block h3 {
		font-size: 18px;
		color: #00B6F0;
		padding-bottom: 3px;
	}
	
	#wrapper #bottom .block p {
		padding-bottom: 10px;
	}
	
	.btnGray {
		display: block;
		width: 201px;
		height: 24px;
		float: left;
	}
		.btnWriteReview { background: url(../images/sprites.gif) -345px 0px no-repeat; }
			.btnWriteReview:hover { background: url(../images/sprites.gif) -560px 0px no-repeat; }
			
		.btnAddPlace { background: url(../images/sprites.gif) -345px -30px no-repeat; }
			.btnAddPlace:hover { background: url(../images/sprites.gif) -560px -30px no-repeat; }
			
		.btnTellUs { background: url(../images/sprites.gif) -345px -60px no-repeat; }
			.btnTellUs:hover { background: url(../images/sprites.gif) -560px -60px no-repeat; }
			
		.btnVisitBlog { background: url(../images/sprites.gif) -345px -90px no-repeat; }
			.btnVisitBlog:hover { background: url(../images/sprites.gif) -560px -90px no-repeat; }
			
			
		#wrapper .btnLearnMore { width:178px; }
		.btnLearnMore { background: url(../images/sprites.gif) -400px -475px no-repeat; }
			.btnLearnMore:hover { background: url(../images/sprites.gif) -580px -475px no-repeat; }
	


	
.someTabs {
	border-bottom: 1px solid #666;
	height: 38px;
	margin: 10px 0 25px 0;
}
	.someTabs li, .someTabs li a {
		float: left;
	}
	
	.someTabs li {
		height: 37px;
		padding-right: 4px;
		font-size: 12px;
	}
	
	.someTabs li a {
		background-color: #E9EDF0;
		border-left: 1px solid #CDD2D6;
		border-top: 1px solid #CDD2D6;
		border-right: 1px solid #CDD2D6;
		border-bottom: none;
		padding: 11px 10px 0 10px;
		height: 26px;
		color: #666;
	}
		.someTabs li a:hover {
			color: #00B6F0;
			/* border-left: 1px solid #B5BDC1;
			border-top: 1px solid #B5BDC1;
			border-right: 1px solid #B5BDC1; */
		}
		
		#wrapper .someTabs li .act {
			background-color: #00B6F0;
			border-left: 1px solid #008BB9;
			border-top: 1px solid #008BB9;
			border-right: 1px solid #008BB9;
			color: #FFF;
		}

		
.citiesGrid  {
	margin-top: 5px;
}		
	.citiesGrid  h4 {
		font-size: 12px;
		color: #666;
		padding-bottom: 8px;
	}
		.citiesGrid  h4 span {
			display: block;
			font-size: 14px;
		}
	
	.citiesGrid  td {
		font-size: 11px;
	}
	
	.citiesGrid  td.sepp {
		height: 35px;
	}


.list {
	padding: 5px 0 7px 10px;
}
	.list li {
		background: url(../images/dot.gif) left 5px no-repeat;
		padding: 0 0 1px 10px;
	}
	

.paleBlueBox {
	background-color: #EBF9FE;
	border: 1px solid #BEEBFC;
	padding: 6px 8px 6px 8px;
}


.grayBox {
	background-color: #EFF2F5;
	border: 1px solid #D0D9E1;
	padding: 18px 18px 18px 18px;
}


.tbl {
	background: url(../images/ttl_div3.gif) left top repeat-x;
	color: #666;
	border: 1px solid #D8DCDF;
	margin-bottom: 12px;
	border-collapse: collapse;
	width: 100%;
}
	.tbl th {
		color: #FFF;
		padding: 0 10px 0 10px;
		height: 38px;
		background: url(../images/ttl3_tabs_li.gif) right center no-repeat;
	}
		#wrapper .tbl th {
			vertical-align: middle;
		}

	.tbl td {
		padding: 7px 10px;
		border-right: 1px solid #D8DCDF;
	}
		#wrapper #content .tbl .last {
			border-right: none;
			background-image: none;
		}
	
	#content .tbl .row td {
		background-color: #EFF2F5;
	}
	
	#content .tbl .row_last td {
		background-color: #C8D2DD;
		color: #FFF;
		border-right: 1px solid #C8D2DD;
		padding-top: 5px;
		padding-bottom: 5px;
		vertical-align: middle;
	}
	
	
	
	
.tbl2 {
	color: #666;
	border: 1px solid #D8DCDF;
	border-collapse: collapse;
	width: 100%;
}
	.tbl2 th {
		background-color: #009BCE;
		color: #FFF;
		padding: 7px 5px 7px 10px;
		text-align: left;
	}

	.tbl2 td {
		padding: 7px 10px 8px 10px;
		border-top: 1px solid #D8DCDF;
	}

	
	#content .tbl2 .row_last td {
		background-color: #EFF2F5;
		border-top: none;
		padding: 2px 5px;
		vertical-align: middle;
	}
	
	.tbl2 .row_last .btnSeeVideos, .tbl2 .row_last .btnSeePhotos  { float:left; margin-right:8px; }


.marg_t {
	margin-top: 15px;
}

.marg_b {
	margin-top: 15px;
}
	

.padd {
	padding: 24px 26px;
}	
	


	
/*  Middle  */
#middle {
	float: left;
	width: 600px;
}
	#middle h3 {
		color: #00B6F0;
		padding-bottom: 10px;
	}
	
	#middle h4 {
		font-size: 18px;
		color: #00B6F0;
		padding: 5px 0 10px 0;
	}


.checkList li {
	background: url(../images/icon_tick.gif) left 2px no-repeat;
	padding: 0 0 14px 20px;
}
	
	


/*  Sidebar  */
#sidebar {
	float: right;
	width: 200px;
}


.sideMenu li {
	display: block;
	border-bottom: 1px solid #D8DCDF;
	padding: 11px 11px 12px 11px;
	font-weight: bold;
}
	#sidebar .sideMenu li.last {
		border-bottom: none;
	}
	
	.sideMenu li a {
		background: url(../images/arw_bl_r.gif) left 3px no-repeat;
		padding-left: 12px;
	}	
		.sideMenu li a:hover, .sideMenu li a.act {
			background: url(../images/arw_gr_r.gif) left 3px no-repeat;
			color: #666;
		}


.bnrMobile {
	background: url(../images/new/9.jpg) left top no-repeat;
	display: block;
	width: 186px;
	height: 160px;
	margin: 0 0 25px 2px;
}
	.bnrMobile:hover {
		background: url(../images/new/5.jpg) right top no-repeat;
	}


	
.gallery {
	position: relative;
	z-index: 1;
	width: 666px;
	margin-right: -11px;
}	
	#wrapper .gallery ul {
		padding: 0;
		margin: 0;
	}
	#wrapper .gallery li {
		background: none;
		padding: 0;
		margin: 0;
		float: left;
		font-size: 11px;
		width: 210px;
		padding: 0 12px 16px 0;
	}
	
	.gallery li a img {
		padding: 3px;
		border: 1px solid #D8DCDF;
		margin-bottom: 5px;
	}
		.gallery li a:hover img {
			border: 1px solid #00B6F0;
		}
		
	.gallery li a b {
		padding: 0 4px;
	}

	

	
/*  Footer  */
#footer {
	clear: both;
    position: relative;
	z-index: 2;
    background: #2E2E2E url(../images/ft_bg.png) left top repeat-x;
	color: #A2A2A2;
	font-size: 11px;
	height: 275px;
	padding-top: 15px;
	margin-top: -290px;
}
.footer1 {
	clear: both;
    position: fixed;
	z-index: 2;
    /*background: #2E2E2E url(/images/newshoppingmall/ft_bg.png) left top repeat-x;*/
    background-color: #2E2E2E;
	color: #A2A2A2;
	font-size: 11px;
	height: 15px;
	padding-top: 15px;
	margin-top: 0px;
	bottom: 0px;
	width:100%;
}
.footer a {
	color: #FFF;
	text-decoration: none;
}
.footer1 a {
	color: #FFF;
	text-decoration: none;
}
	#footer a:hover {
		color: #949494;
		text-decoration: none;
	}
 

.footer {
	width: 910px;
	margin: 0 auto;
}
.footer1 {
	width: 910px;
	margin: 0 auto;
}
	.ft_t {
		padding-bottom: 22px;
	}

		.ft_t h3 {
			font-size: 18px;
			font-weight: normal;
			line-height: 18px;
			color: #FFF;
			float: left;
		}
		
		.ft_t span,
		.ft_t .share,
		.ft_t .add {
			float: right;
		}
		
		.ft_t span {
			background: url(../images/icon_ft_ya.gif) right top no-repeat;
			padding: 4px 26px 0 12px;
			height: 17px;
		}
		
		.ft_t .share {
			padding: 1px 0 0 12px;
		}
		
		#footer .ft_t .add {
			background: url(../images/sprites.gif) -345px -120px no-repeat;
			width: 172px;
			height: 21px;
		}
			#footer .ft_t .add:hover {
				background: url(../images/sprites.gif) -560px -120px no-repeat;
			}
		
		
	.ft_m {
		padding-bottom: 16px;
		margin-bottom: 8px;
	}
	
		.ft_m .m {
			float: left;
			width: 105px;
		}
	
		.ft_m h5 {
			background: #535353;
			font-size: 14px;
			line-height: 14px;
			padding: 2px 30px 0px 5px;
			height: 19px;
			color: #FFF;
			float: left;
			margin-bottom: 8px;
		}
	
		.ft_m li {
			width: 105px;
			float: left;
			padding-bottom: 1px;
		}
		
	
	
	.ft_b {
		height: 15px;
		color: #949494;
	}
		.ft_b li {
			float: left;
			color: #949494;
			background: url(../images/ft_li.gif) right 1px no-repeat;
			padding-right: 11px;
			margin-right: 9px;
		}
		
		#footer .ft_b .last {
			background: none;
			padding-right: 0;
			margin-right: 0;
		}
		
		#footer .ft_b a {
			color: #949494;
		}
			#footer .ft_b a:hover, #footer .ft_b a.act {
				color: #FFF;
			}
		
		.ft_b .copy {
			float: right;
		}
		
		.ft_b .icon_ft_mob {
			background: url(../images/icon_ft_mob.gif) left 1px no-repeat;
			padding-left: 11px;
		}
		
		.ft_b .icon_ft_feedback {
			background: url(../images/icon_ft_feedback.gif) left 3px no-repeat;
			padding-left: 14px;
		}

/* --- Forms --- { --- */


div.input {
	background-color: #EBF9FE;
	border: 1px solid #BEEBFC;
	padding: 2px;
	float: left;
}
	div.input input {
		background-color: #FFF;
		border: 1px solid #B3C1CA;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #666;
		padding: 6px 5px 5px 5px;
		width: 270px;
		float: left;
	}

	div.input textarea {
		background-color: #FFF;
		border: 1px solid #B3C1CA;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #666;
		padding: 6px 5px 5px 5px;
		width: 270px;
		height: 135px;
		float: left;
	}
	
	/*  Normal input with autocomplete  */
	.ac_input {
		width: 282px;
		position: relative;
		z-index: 5;
	}
		#wrapper .ac_input .autocomplete {
			z-index: 2;
			width: 280px;
			top: 28px;
			left: 2px;
		}
			#wrapper #content .ac_input .autocomplete li {
				width: 280px;
			}	
				#wrapper #content .ac_input .autocomplete li a {
					width: 269px;
				}
	
	/*  Re-stylied <select> form field */
	div.select {
		width: 282px;
		position: relative;
		z-index: 5;
	}	
		div.select .slct_arw {
			display: block;
			background: url(../images/slct_arw.gif) 261px 2px no-repeat;
			width: 280px;
			height: 25px;
			position: absolute;
			z-index: 5;
			top: 3px;
			left: 3px;
		}
			div.select .slct_arw:hover {
				background: url(../images/slct_arw.gif) 261px -78px no-repeat;
				color: #666;
			}
			
		#content div.select .dd { width:276px; top: 28px; margin-left:-1px; }
		#content div.select .dd ul, #content div.select .dd ul li { width:276px; }
			#content div.select .dd ul li a { padding: 2px 5px 3px 5px; width:266px; color:#666; }
			#content div.select .dd ul li a:hover, #content div.select .dd ul li .act { background:#00B6F0; color:#FFF; }
	
	/*  Short <select>  */
	#wrapper div.select_sm { width: 82px; }
		#wrapper div.select_sm input { width: 70px; }
		
		#wrapper div.select_sm .slct_arw { width: 82px; background-position: 61px 2px;	}
			#wrapper div.select_sm .slct_arw:hover { background-position: 61px -78px; }
			
		#wrapper #content div.select_sm .dd { width:76px; }
			#wrapper #content div.select_sm .dd ul, #wrapper #content div.select_sm .dd ul li { width:76px; }
				#wrapper #content div.select_sm .dd ul li a { width:66px; }
	
	
.label {
	display: block;
	font-size: 14px;
	color: #00B6F0;
	padding-bottom: 6px;
}

.label2 {
	display: block;
	padding: 9px 0 0 0;
	width: 100px;
	float: left;
}

.label3 {
	display: block;
	padding: 9px 0 0 0;
	width: 130px;
	float: left;
}

.chk_box {
	float: left;
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0 7px 0 0;
}
	
.chk_label {
	float: left;
}

.chk_bg {
	width: 19px;
	height: 16px;
	padding: 3px 0 0 0;
	margin: 0 auto;
	background: url(../images/chk_bg.gif) left top no-repeat;
}
	.chk_bg input {
		width: 13px;
		height: 13px;
		padding: 0;
		margin: 0;
	}
	
form .icon_calendar {
	float: left;
	display: block;
	width: 33px;
	height: 33px;
	background: url(../images/icon_calendar.gif) left top no-repeat;
	margin-right: 3px;
}
	form .icon_calendar:hover {
		background: url(../images/icon_calendar.gif) left bottom no-repeat;
	}

.form div.input, .form div.select {
	margin-bottom: 12px;
}


.form .star {
	color: #00B6F0;
	float: left;
	margin: 0 0 0 3px;
}


.form .btnBrowse {
	float: left;
	margin: 5px 0 0 6px;
}


.btnSearch {
	background: url(../images/sprites.gif) left -120px no-repeat;
	border: none;
	width: 86px;
	height: 27px;
	float: left;
	cursor: pointer;
}
	.btnSearch:hover {
		background: url(../images/sprites.gif) -175px -120px no-repeat;
		cursor: pointer;
	}
	

	
.btnBlue, .btnBlue span, 
.btnGreen, .btnGreen span,

.btnBlue_sm, .btnBlue_sm span, 
.btnGreen_sm, .btnGreen_sm span {
	display: block;
	float: left;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
}
	.btnBlue, 
	.btnGreen {
		font-weight: bold;
		padding-left: 12px;
		height: 27px;
		color: #FFF;
	}	
		.btnBlue span, 
		.btnGreen span {
			padding: 6px 12px 0 0;
			height: 21px;
		}
		
	.btnBlue_sm, 
	.btnGreen_sm {
		padding-left: 12px;
		height: 21px;
		color: #FFF;
	}	
		.btnBlue_sm span, 
		.btnGreen_sm span {
			padding: 3px 12px 0 0;
			height: 18px;
		}
		
		.btnBlue:hover, .btnGreen:hover, .btnBlue_sm:hover, .btnGreen_sm:hover { color: #FFF; }
			
			
	.btnBlue { background: url(../images/sprites.gif) left -300px no-repeat; }	
		.btnBlue span { background: url(../images/sprites.gif) right -300px no-repeat; }
		.btnBlue:hover { background: url(../images/sprites.gif) left -335px no-repeat; }	
			.btnBlue:hover span { background: url(../images/sprites.gif) right -335px no-repeat; }
			
	.btnGreen { background: url(../images/sprites.gif) left -370px no-repeat; }	
		.btnGreen span { background: url(../images/sprites.gif) right -370px no-repeat; }
		.btnGreen:hover { background: url(../images/sprites.gif) left -405px no-repeat; }	
			.btnGreen:hover span { background: url(../images/sprites.gif) right -405px no-repeat; }
			
			
	.btnBlue_sm { background: url(../images/sprites.gif) left -180px no-repeat; }	
		.btnBlue_sm span { background: url(../images/sprites.gif) right -180px no-repeat; }
		.btnBlue_sm:hover { background: url(../images/sprites.gif) left -210px no-repeat; }	
			.btnBlue_sm:hover span { background: url(../images/sprites.gif) right -210px no-repeat; }
			
	.btnGreen_sm { background: url(../images/sprites.gif) left -240px no-repeat; }	
		.btnGreen_sm span { background: url(../images/sprites.gif) right -240px no-repeat; }
		.btnGreen_sm:hover { background: url(../images/sprites.gif) left -270px no-repeat; }	
			.btnGreen_sm:hover span { background: url(../images/sprites.gif) right -270px no-repeat; }
	


#wrapper .btnCenter, 
#wrapper .btnCenter span {
	float: none;
}
	#wrapper .btnCenter {
		margin: 0 auto;
	}
		
#wrapper .btnRight{
	float: right;
}
	
	
.btnAddPlace_big  {
	background: url(../images/sprites.gif) left -475px no-repeat;
	display: block;
	width: 195px;
	height: 37px;
}
	.btnAddPlace_big:hover  { background-position: -200px -475px; }
	
	
.btnSignUpToday  {
	background: url(../images/sprites.gif) left -520px no-repeat;
	display: block;
	width: 178px;
	height: 37px;
}
	.btnSignUpToday:hover  { background-position: -180px -520px; }
	

.btnSignUpToday_big {
	background: url(../images/sprites.gif) left -560px no-repeat;
	display: block;
	width: 300px;
	height: 37px;
}
	.btnSignUpToday_big:hover  { background-position: -305px -560px; }
	
	
.btnBackMain, .btnBrowse, .btnSeeVideos, .btnSeePhotos {
	display: block;
	width: 98px;
	height: 24px;
}

input.btnBrowse {
	border: none;
	cursor: pointer;
}


	.btnBackMain  { background: url(../images/sprites.gif) -400px -505px no-repeat; }
		.btnBackMain:hover  { background-position: -500px -505px; }
		
	#wrapper .btnBrowse  { width: 65px; }
	.btnBrowse  { background: url(../images/sprites.gif) -600px -505px no-repeat; }
		.btnBrowse:hover  { background-position: -665px -505px; }
		
	.btnSeeVideos  { background: url(../images/sprites.gif) -360px -530px no-repeat; }
		.btnSeeVideos:hover  { background-position: -460px -530px; }
		
	.btnSeePhotos  { background: url(../images/sprites.gif) -560px -530px no-repeat; }
		.btnSeePhotos:hover  { background-position: -660px -530px; }

/* --- } --- Forms --- */



/* Rounded-cornered divs -*/ 
.roundedBox 
{	
	position:relative; 
	padding:14px;
	margin:10px 0;
}  
		
/*- All the corners -*/ 
.corner 
{
	position:absolute; 
	width:6px; 
	height:6px;
} 
.tipsicon 
{
	float: left; 
	vertical-align: middle; 
	margin: 0px 17px 0 2px 
} 
/*- Each corner -*/    
.topLeft 
{
	top:0; 
	left:0; 
	background-position:0 0;
}
		                            

.topRight {top:0; right:0; background-position:-8px 0px;}  
		                                

.bottomLeft {bottom:0; left:0; background-position:0px -8px;} 
		                                  

.bottomRight {bottom:0; right:0; background-position:-8px -8px;}           

/*- Tips -*/        
#type1 {background-color:#eef8dd;}

#type1 .corner {background-image:url(../images/tips/corners.gif);}   

#dvDsp {background-color:#eef8dd;}

#dvDsp .corner {background-image:url(../images/tips/corners.gif);}   

#content p.tips { color:#59794d; margin:0; padding: 0;} 

a.closetips 
{        
	display: block;     
	position: relative;        
	float: right;        
	width: 11px;        
	height: 12px;       
	background: url(../images/tips/closetips.gif) left 0 no-repeat;  
	margin: -6px;
}  
a.closetips:hover { background: url(../images/tips/closetips.gif) left -13px no-repeat; } 

/*  Pretty Photo popup  */
.pp_pic_holder .pp_content_container .pp_content {
	padding-top: 30px;
}

.pp_pic_holder .pp_content_container .pp_content a.pp_close{
	display: block;
	float: none;
	text-indent: -8000px;
	background: url(../images/prettyPhoto/icon_close.gif) left top no-repeat;
	width: 22px;
	height: 22px;
	font-size: 11px;
	position: absolute;
	top: 0;
	right: 22px;
	z-index: 2001;
}
	.pp_pic_holder .pp_content_container .pp_content a.pp_close:hover{
		background: url(../images/prettyPhoto/icon_close.gif) left bottom no-repeat;
	}

.pp_pic_holder .pp_content_container .pp_details{margin:0;}

.row-fluid [class*="span"]:nth-child(4n+1)
{
	margin-left: 0;
}

#popup-wrapper
{

	background-color:#fff;
	padding:10px;
}
.leftmenunormal
{
	height:35px;
	border-bottom:1px solid grey;
	padding-left:10px;
	font-size:14px;
	color:grey;
	cursor:pointer;
}
.leftmenuselected
{
	height:35px;
	border-bottom:1px solid grey;
	padding-left:10px;
	background-color:#348bb0;
	color:white;
	font-size:16px;
}
.headingh2
{
	font-size:24px;
	border-bottom:1px solid grey;
	padding:5px;
}
.loginnow
{
		background: url(/images/newshoppingmall/signup_normal.jpg) no-repeat;
		width:116px;
		height:34px;
		display: block;
}