
#content #bpTabs a span {
	background: url(/images/newshoppingmall/bp_icon.gif) 7px 11px no-repeat;
}

#content #bpTabs a:hover span {
	background: url(/images/newshoppingmall/bp_icon.gif) 7px -59px no-repeat;
}

#wrapper #content #bpTabs a.act span {
	background: url(/images/newshoppingmall/bp_icon.gif) 7px -134px no-repeat;
}

#content .hm_div3 .thmbList li, #content .hm_div3 .moreBox {
	width: 430px;
}

#content .hm_div4 .thmbList li, #content .hm_div4 .moreBox {
	width: 429px;
}