

/*********** PRICING ************/
	
	body {
		background:url("http://sendible-public.s3.amazonaws.com/images/rays.png") no-repeat scroll center -165px #EFEFEF;
	}
	
	#main {
	margin:0 auto;
	padding-left:0px;
	padding-right:0px;
	width:100%;

}
	#content{
		background-color: transparent !important;
		border: 0 !important;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
	}
.pricing-table{
	
}

.pricing-table .plan .button, #pricing_page .plan .button{
	border: 1px solid green !important;
	background: url("http://sendible-public.s3.amazonaws.com/images/5A9D1A_40x100_textures_03_highlight_soft_25.png") repeat scroll 0 0 transparent;
	font-size:20px !important;
	padding:3px;
	line-height:25px;
	width:150px;
	
}

#pricing_page h1
{
    text-shadow: none;
    font-size: 41px;
    letter-spacing: normal;
    line-height: 1.1em;
    margin: 0 0 10px;
    padding: 0;
    color: white;
    text-align: center;
    font-family: helvetica,arial,sans-serif;
    font-weight: normal;
}

#pricing_page .pricing-tagline
{
    font-family: arial,georgia,times;
font-size: 17px;
font-weight: normal;
line-height: 1.2em;
margin: 8px 0 10px;
padding: 0;
text-shadow: none;
text-align: center;
letter-spacing: normal;
color: #759EB5;
color: #759EB5;
font: 19px 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;

}

#pricing_page .pricing-tagline-all
{
        font-family: arial,georgia,times;
font-size: 17px;
font-weight: normal;
line-height: 1.2em;
margin: 5px 0 20px;
padding: 0;
text-shadow: none;
text-align: center;
letter-spacing: normal;
color: #759EB5;
color: #759EB5;
font: 19px 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
}

#pricing_page .allplans-header
{
    text-align: center;
text-shadow: -1px -1px 1px white;
font-size: 35px !important;
background-color: transparent !important;
border: 0 !important;
font-family: Helvetica,Arial,sans-serif;
font-size: 1.5em;
letter-spacing: -1px;
border-bottom: 0 solid #CAD6E7;
margin: 0;
padding: 0 0 3px;
font-weight:bold;
}

#otherplans .button, #otherplans .button:hover, .otherpricing .button, .otherpricing .button:hover
{
	border: 0px solid green !important;
	background: none;
	font-size:20px !important;
	padding:0px;
	line-height:25px;
	font-size:12px !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #5484A7;
}

#otherplans .button:hover, .otherpricing .button:hover
{
	background-color: #456D89 !important;
}

#plan_1 .pricing_quantity,
#plan_3 .pricing_quantity,
#plan_4 .pricing_quantity
{
    font-weight: normal;
    font-size: 20px;
    color: #f2f2f2;
    text-shadow: -1px -1px 1px rgba(1, 1, 1, 0.25);
    position: relative;
top: 2px;
}

.pricing_tagline
{
    font-style: italic;
    color: #A6D851;
    font-size: 13px;
    cursor: default;
      text-shadow: -1px -1px 1px rgba(1, 1, 1, 0.25);
}

.pricing_features
{
    text-align:left !important;
    font-size: 13px;
      text-shadow: -1px -1px 1px rgba(1, 1, 1, 0.25);
      line-height: 20px;
      margin-left: 10px;
}


.features_includes
{
    font-size: 13px;
     text-shadow: -1px -1px 1px rgba(1, 1, 1, 0.25);
     padding-left: 5px !important;
padding-right: 5px !important;
}
.pricing_features .bullet
{
    background: url(https://s3.amazonaws.com/sendible-public/images/bullet_green.png) no-repeat;
    padding-left:20px;
}

#plan_2 .pricing_quantity
{
    font-weight: normal;
    font-size: 20px;
    color: #f2f2f2;
    text-shadow: -1px -1px 1px rgba(1, 1, 1, 0.25);
    position: relative;
    top: 2px;
}

.otherpricing{
	background-color: transparent !important;
	border:0 !important;
	margin-bottom: 30px;
	border-bottom:1px solid #F8F8F8    !important;
	
}

.otherplan
{
    font-size:16px; 
    width:100%;
	text-align:center;
    float:left;
    margin-bottom:12px;
}

.otherplan .emph
{
    font-size: 22px;
    color: #444;
    text-shadow: -1px -1px -1px #f8f8f8;
    position: relative;
    top: 2px;
    margin: 2px;
}

.otherpricing .side
{
    border-right: 1px solid #DDD;
border-left: 1px solid #F8F8F8;
}

.otherpricing .pricing-header{
	background-color: #5484A7 !important;
	
}

.pricing_socialnetworks
{
	text-shadow: -1px -1px 1px rgba(1, 1, 1, 0.75);
	font-size: 16px;
	font-weight: normal !important;
}

.otherpricing  .center{
	text-align:center;
}

.otherpricing .limit{

padding-top:10px !important;
font-weight: bold;
	
}

.otherpricing .odd{
	background-color: transparent !important;
}

.otherpricing .lighter{

color: #fff !important;
	
}

.otherpricing .cll{
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #F8F8F8 ;
	
}

.otherpricing .cll .faded{
	color: #49575B !important;
	
}

.otherpricing .cll{
	padding:6px;
}

.pricing-table .button:hover, #pricing_page .button:hover{
	/*background: none #7BB740 !important;*/
}


.pricing-header{
	background-color: #535353 !important;
	color: #fff !important;
	font-size: 12px !important;
}

.section{
	background-color: #6BA8D3 !important;
}

#pricing_page{

}

#pricing_page .discountapplied{
	background-color: white;
	border: 1px solid #CCC;
	float: left;
	font-size: 14px;
	padding: 6px;
	text-align: center;
	width: 98.8%;
}

#pricing_page .discountcode{
	border-bottom:1px solid #999;
	display:block;
	float:left;
	font-size:14px;
	margin-bottom:15px;
	margin-top:0;
	padding-bottom:25px;
	text-align:center;

	width:100%;
}

#pricing_page .discountcode .button{
	width: 150px !important;
	font-size:13px !important;
	padding:3px;
	width:150px;
}

#pricing_page .topuptable .button{
	width: 80px !important;
	font-size:13px !important;
	padding:3px;
	width:150px;
}

#pricing_page .plan{
	color:white;
	float:left;
	font-family:"ArcherBook";
	margin-right:17px;
	padding:20px 0 0;
	text-align:center;
}

#pricing_page #plan_1 {
	background:url("http://sendible-public.s3.amazonaws.com/images/price_plan.png") repeat scroll 0 0 #535353;
	height:445px;
	margin-top:20px;
	padding-top:10px;
	width:230px;
-webkit-box-shadow:0 0 10px #111111; 
	-moz-box-shadow: 0 0 10px #111111; 
	box-shadow:0 0 10px #111111; 
}

#pricing_page #plan_2 {
	background:url("http://sendible-public.s3.amazonaws.com/images/price_plan.png") repeat scroll 0 0 #2481BE;
	height:460px;
	padding-top:30px;
	width:230px;
-webkit-box-shadow:0 0 10px #111111; 
	-moz-box-shadow: 0 0 10px #111111; 
	box-shadow:0 0 10px #111111; 
}

#pricing_page #plan_3 {
	background:url("http://sendible-public.s3.amazonaws.com/images/price_plan.png") repeat scroll 0 0 #49575B;
	height:430px;
	margin-top:20px;
	padding-top:10px;
	width:230px;
-webkit-box-shadow:0 0 10px #111111; 
	-moz-box-shadow: 0 0 10px #111111; 
	box-shadow:0 0 10px #111111; 
}

#pricing_page #plan_3 {
background:url("http://sendible-public.s3.amazonaws.com/images/price_plan.png") repeat scroll 0 0 #49575B;
height:445px;
margin-top:20px;
padding-top:10px;
width:230px;
-webkit-box-shadow:0 0 10px #111111; 
	-moz-box-shadow: 0 0 10px #111111; 
	box-shadow:0 0 10px #111111;  
}

#pricing_page #plan_4 {
background:url("http://sendible-public.s3.amazonaws.com/images/price_plan.png") repeat scroll 0 0 #303030;
height:445px;
margin-top:20px;
padding-top:10px;
width:230px;
-webkit-box-shadow:0 0 10px #111111; 
	-moz-box-shadow: 0 0 10px #111111; 
	box-shadow:0 0 10px #111111; 
}
/*
#pricing_page .plan:last-child {
margin-right:0;
}*/

#pricing_page .plan {
color:white;
float:left;
font-family:helvetica;
margin-right:14px;
padding:20px 0 0;
text-align:center;
}

#pricing_page .plan .name {
font-size:34px;
margin-top:5px;
text-shadow:-1px -1px 1px rgba(1, 1, 1, 0.75);
}



#pricing_page h2
{
    font-family: Helvetica,Arial,sans-serif;
font-size: 1.5em;
letter-spacing: -1px;
margin: 0pt 0pt 0px;
padding: 0pt;
padding-bottom: 3px;
padding-left: 0px;
border-bottom: 0px solid #CAD6E7;

	text-align:center;
text-shadow:-1px -1px 1px #fff;
font-size:28px !important;
background-color: transparent !important;
border: 0 !important;
}

#pricing_page #actions{
color:#383838;
font-size:13px !important;
text-align:center;

}

#pricing_page .plan .price {
padding:0px 0;
text-shadow:-1px -1px 1px rgba(1, 1, 1, 0.25);
margin-bottom: 15px;
}

#pricing_page #payasyougo{
border-bottom:1px solid #5190A4;
display:block;
float:left;
font-size:14px;
margin-bottom:15px;
margin-top:0;
padding-bottom:25px;
text-align:center;

width:100%;
}

#pricing_page .plan:last-child {
margin-right:0;
}

#pricing_page .plan:first-child {
margin-left:8px;
}

#pricing_page .plan .price .amount {
padding:5px 0;
padding-bottom: 0;
}

#pricing_page .plan .price .amount span.dollar span.sign {
font-size:28px;
left:-17px;
position:absolute;
top:7px;
}

#pricing_page .signup{
	padding:5px;
	margin-bottom:10px;
	margin-top:10px;
}

#pricing_page  .plan  .included div{
	padding: 3px 0;
	cursor: default;
}

#pricing_page .plan div {
text-align:center;
}

#pricing_page .plan .price .amount span.dollar {
font-size:55px;
position:relative;
}

#pricing_page .plan .included {
border-top:3px dashed rgba(6, 6, 6, 0.2);
font-size:15px;
padding:10px 0;
color: #eaeaea;
}

#pricing_page .plan .included  strong{
color: #f2f2f2;
}

#pricing_page .plan .shadow {
-moz-transform:scale(1) rotate(15deg) translate(-14px, 0px) skew(-15deg, -15deg);
-webkit-transform: scale(1) rotate(15deg) translate(-14px, 0px) skew(-15deg, -15deg);
background:url("http://sendible-public.s3.amazonaws.com/images/shadow1.png") repeat-x scroll -10px 50% transparent;
height:40px;
margin:0 5px 0 3px;
-o-transform: scale(1) rotate(15deg) translate(-14px, 0px) skew(-15deg, -15deg); 
transform: scale(1) rotate(15deg) translate(-14px, 0px) skew(-15deg, -15deg)

}

#header #innernav .menu-selected{
	border-bottom: 1px solid #EFEFEF ;
}

#header #innernav .menu-selected a  {
background-color:#EFEFEF;
background: #EFEFEF ;
color:#333333;
float:left;
font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:20px;
margin-right:1px;
padding:2px 14px 0;
position:relative;
text-align:center;
z-index:3;
}



