.pwi_loader{
	height: 60px;
	width: 200;
	border: 1px solid #7F7F7F;
}

.pwi_container{
	color: #000000;
	
	font-family: Arial;
	font-size: 8pt;
	padding: 5px;
}

.pwi_container a{
	color: #000000;
}

.pwi_album_description{
	text-align: left;
	color: #000000;
	font-family: Arial;
	font-size: 8pt;
	
	padding: 10px;

}
.pwi_album_description .title{
	color: #000000;
	font-size: 12pt;
	margin-top: 10px;

}
.pwi_album_description .details{
	color: #000000;
	font-size: 8pt;
	font-style: italic;
}
.pwi_album_description .description{
	font-size: 10pt;
	padding: 5px;
}
.pwi_album_description .sslink{

}

.pwi_slideshow{
	text-align: left;
	color: #000000;
	font-family: Arial;
	font-size: 8pt;
	background-color: #FFFFFF;
	padding: 10px;
}

.pwi_album{
	float: left;
	margin: 1em;
	text-align: center;
	color: #000000;
	cursor: pointer;
	height:300px;
}
/*
.pwi_album_backlink{
	text-decoration: underline;
	cursor: pointer;
}*/
.pwi_album_backlink { width: 507px; font-size:20px;  height: 37px;
/*margin: 20px auto 10px auto;*/
color: #D01A87; line-height: 37px; color: #D01A87;
/*text-indent: 20px;*/
background: url(headers.gif) no-repeat;}

.pwi_album img{
	border: 0px solid #7F7F7F;
}

.pwi_photo{
    position:relative;
	float: left;
	margin: 1em;
	text-align: center;
	border: 0px dotted white;
}
.pwi_photo img{
	border: 0px solid #7F7F7F;
}

.pwi_photo a{
	text-decoration: none;	
}

#video {
    position:absolute;
    top:0;
    left:0;
}

.pwi_pager{
	clear: both;
}
.pwi_prevpage, .pwi_nextpage, .pwi_pager_page, .pwi_pager_current{
	text-decoration: underline;
	float: left;
	margin: 5px;
}
.pwi_prevpage, .pwi_nextpage, .pwi_pager_page{
	cursor: pointer;
}
.link{
	text-decoration: underline;
	cursor: pointer;
}

.pwi_pager_current{
	text-decoration: none;
	font-weight: bold;
}
