span.menuselected
{
	BACKGROUND-COLOR: #9fb6d2;
	COLOR: black;
	font-weight: bold;
	font-family: arial, Helvetica, Sans-Serif;
	cursor:pointer;
	font-size:14px;
}
span.menusimple
{
	COLOR: black;
	font-family: arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	cursor:pointer;
	font-size:14px;
}
td.subheading
{
	color: Black;
	font-family: "Comic Sans MS";
	FONT-SIZE: 14px;
	font: normal;
}

TR.gridHeader
{
	BORDER-TOP: 1px solid #9DB5D1;
	BORDER-BOTTOM: 1px solid #9DB5D1;
	BORDER-LEFT: 1px solid #9DB5D1;
	BORDER-RIGHT: 1px solid #9DB5D1;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	COLOR: White;
	PADDING-TOP: 2px;
	PADDING-LEFT: 6px;
	PADDING-RIGHT: 6px;
	BACKGROUND-COLOR: #23C8FF;
}
/*
td.gridColumnHeader
{
	font-family:    Verdana, Helvetica, Sans-Serif;
	padding-left:       3px;
	padding-top:        2px;
	padding-bottom:     2px;
	background: url("/images/misc/toolbar.jpg")  repeat-x;
	
	border-style:       solid;
	border-width:       1px;
	border-left-color:  #FFFFFF;
	border-right-color: #808080;
	border-top-color:   #FFFFFF;
	border-bottom-color:#808080;
	color:white;
	font-size:       16px;
}
*/
td.gridcolumnheader
{
	font-family: Monotype Corsiva;
	padding-left:       3px;
	padding-top:        2px;
	padding-bottom:     2px;
	/*filter:             progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9DB5D1',EndColorStr='#FFFFFF');*/
	background: url("/images/newshoppingmall/ttl_div3.gif")  repeat-x;
	/*background-color: #D4D0C8;*/
	border-style:       solid;
	border-width:       1px;
	border-left-color:  #FFFFFF;
	border-right-color: #808080;
	border-top-color:   #FFFFFF;
	border-bottom-color:#808080;
	color:white;
	font-size:       24px;
	font-weight:bold;
	height:35px;
}
td.gridColumnHeader_blue
{
	font-family: Monotype Corsiva;
	padding-left:       3px;
	padding-top:        2px;
	padding-bottom:     2px;
	/*filter:             progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9DB5D1',EndColorStr='#FFFFFF');*/
	background: url("/images/newshoppingmall/ttl_div3_small.gif")  repeat-x;
	/*background-color: #D4D0C8;*/
	border-style:       solid;
	border-width:       1px;
	border-left-color:  #FFFFFF;
	border-right-color: #808080;
	border-top-color:   #FFFFFF;
	border-bottom-color:#808080;
	color:white;
	font-size:       18px;
	font-weight:bold;
}
td.gridtext
{
	font-size:12px;
	text-decoration: underline;
	/*color:#23C8FF;*/
	cursor:pointer;
}
td.gridtext_selected
{
	font-size:12px;
	text-decoration: underline;
	/*color:#23C8FF;*/
	cursor:pointer;
	color:white;
	background-color:#A1CF31;
	font-weight:bold;
	padding-botton:5px;
}
td.gridColumnHeader1
{
	font-family:    Verdana, Helvetica, Sans-Serif;
	padding-left:       3px;
	padding-top:        2px;
	padding-bottom:     2px;
	/*filter:             progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9DB5D1',EndColorStr='#FFFFFF');*/
	background: url("/images/misc/toolbar_long.jpg")  repeat-x;
	/*background-color: #D4D0C8;*/
	border-style:       solid;
	border-width:       1px;
	border-left-color:  #FFFFFF;
	border-right-color: #808080;
	border-top-color:   #FFFFFF;
	border-bottom-color:#808080;
	color:white;
	font-size:       16px;
}
td.gridColumnHeader2
{
	font-family:    Verdana, Helvetica, Sans-Serif;
	font-size:        11px;

	padding-left:       3px;
	padding-top:        2px;
	padding-bottom:     2px;
	filter:             progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9DB5D1',EndColorStr='#FFFFFF');
	background-color: #D4D0C8;
	border-style:       solid;
	border-width:       2px;
	border-left-color:  #FFFFFF;
	border-right-color: #808080;
	border-top-color:   #FFFFFF;
	border-bottom-color:#808080;
}
td.base
{
/*	BACKGROUND-COLOR: #909090;
*/
	filter:             progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9DB5D1',EndColorStr='#FFFFFF');
}
td.partnershop
{
	BACKGROUND-COLOR: #9fb6d2;
	color: #f2f2f2; /*
	color: #9DB5f5;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9EB5f5',EndColorStr='#FFFFFF');
	*/
	FONT-SIZE: 16px;
	/*font-weight: bold;*/
}
td.bulletin
{
	BACKGROUND-COLOR: #FFFFFF;
	color: Black; /*
	color: #9DB5f5;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9EB5f5',EndColorStr='#FFFFFF');
	*/
	FONT-SIZE: 16px;
	font-weight: crisp;
}
td.image
{
	BORDER-TOP: 3px solid #9fb6d2;
	BORDER-BOTTOM: 3px solid #9fb6d2;
	BORDER-LEFT: 3px solid #9fb6d2;
	BORDER-RIGHT: 3px solid #9fb6d2;

}

td.services
{
	color:#ffffff;
	font-family:    arial, Helvetica, Sans-Serif;
	FONT-SIZE: 22px;
}

td.bottomlink
{
	color: #4682B4;
	font-family: arial, Helvetica, Sans-Serif;
	FONT-SIZE: 18px;
}


TD.formLabel
{
	BACKGROUND-COLOR: RED;
	padding-left: 2px;
}
TD.formblank
{
	BACKGROUND-COLOR: #FFFFFF;
	padding-left: 2px;
}
TABLE.gridTable
{
	BORDER-RIGHT: 2px solid Gray;
	BORDER-TOP: 2px solid Gray;
	BORDER-LEFT: 2px solid Gray;
	BORDER-BOTTOM: 2px solid Gray;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: white;
}


BODY
{
	font-family: Verdana, Helvetica, Sans-Serif;
	FONT-SIZE: 14px;
	/* background: #9fb6d2 */
	scrollbar-track-color: #F2f2f2;
	scrollbar-face-color: #F2f2f2;
	scrollbar-arrow-color: black;
	scrollbar-shadow-color: #F2f2f3;
	scrollbar-base-color: #e2f2f3;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	/*background-image: url(images/background.gif);*/
}
div.DivColor
{
	background-color: white;	
}

A.tabs
{
	text-decoration: none;
	color: #A52A2A;
}

A.tabs:hover
{
	text-decoration:underline;
	color: #A52A2A;
}
TD
{
	FONT-SIZE: 12px;
	font-family:    Verdana, Helvetica, Sans-Serif;
}

UL
{
	FONT-SIZE: 11px;
    font-family:    Verdana, Helvetica, Sans-Serif;
}
/*
td.gridColumnHeader
{
	font-family:    Verdana, Helvetica, Sans-Serif;
	font-size:        11px;

	padding-left:       3px;
	padding-top:        2px;
	padding-bottom:     2px;
	filter:             progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9DB5D1',EndColorStr='#FFFFFF');
	background-color: #D4D0C8;
	border-style:       solid;
	border-width:       1px;
	border-left-color:  #FFFFFF;
	border-right-color: #808080;
	border-top-color:   #FFFFFF;
	border-bottom-color:#808080;
}
*/
TR.gridColumnHeader
{
	BORDER-RIGHT: #b6bdd2 1px solid;
	BORDER-TOP: #b6bdd2 1px solid;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	BORDER-LEFT: #b6bdd2 1px solid;
	COLOR: black;
	padding-left: 3px;
	BORDER-BOTTOM: 1px solid #b6bdd2;
	BACKGROUND-COLOR: #E6E3DF;
	/*#bedaed;*/
}
TD.formLabel
{
	/*BACKGROUND-COLOR: #E3EAF2;*/
	BACKGROUND-COLOR: #E3EAF2;
	padding-left: 2px;
}
.popuplabel
{
	BACKGROUND-COLOR: #E3EAF2;
	padding-left: 2px;
}
TD.formDescription
{
	BACKGROUND-COLOR: white;/*#f8f8ff*/
	padding-left: 2px;
}
TR.gridSelected
{
	FONT-WEIGHT: bold;
	padding-left: 3px;
	
	/*BACKGROUND-COLOR:#9DB5D1;*/
	BACKGROUND-COLOR:c8d6e5
}

Td.gridAlternate
{
	FONT-WEIGHT: bold;
	padding-left: 3px;
	BACKGROUND-COLOR: #DBEAF7;
}

Td.leftMenu
{
	font-family:   arial Verdana, Helvetica, Sans-Serif;
	FONT-SIZE: 14;
	FONT-COLOR: black;
	padding-left: 5px;
	padding-bottom: 5px;
	BACKGROUND-COLOR: #DBEAF7;
	cursor:pointer;
	border-style:       solid;
	border-width:       1px;
	border-left-color:  #FFFFFF;
	border-right-color: #808080;
	border-top-color:   #FFFFFF;
	border-bottom-color:#808080;
}
.popUp
{
	position: absolute;
	top: 10%;
	left: 30%;
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	background: white;
}
.sideBar
{
	background: white;
}
td.tabNormal
{
	COLOR: navy;
	font-family:    Verdana, Helvetica, Sans-Serif;
	BACKGROUND-COLOR: #AFC6DF;
}

td.tabSelected
{
	COLOR: white;
	font-family:    Verdana, Helvetica, Sans-Serif;
	BACKGROUND-COLOR: #00B6F0
}
td.tabBlink
{
	BACKGROUND-IMAGE: url('../images/misc/chatmsgblink1.gif');
	
}
.footertext1
{
	color:Black;	
	font-size: 16;
	font-family:"Arial Black";
	font-weight: bold;
}
.footertext2
{
	color:Black;	
	font-size: 12;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

.backgrounddisabler
{
   	filter:alpha(opacity=40);
   	opacity: 0.4;
   	background-color: #AFC6DF;
   	position:absolute;
   	width:100%;
   	height:100%;
   	z-index:1;
   	top: 0px;
   	left: 0px;
}
.blend img {
opacity: 0;
-moz-opacity: 0;
-khtml-opacity:0;
filter: alpha(opacity=0);
}

td.shoppingHeader
{
	color: Black;
	color: Red;
	
	FONT-SIZE: 24px;
	font-weight: bold;
}
.shoppingh1
{
	font-size: 24px;
	color: #747372;
	color: Red;
	font-weight:strong;
	background: url("/images/misc/shoppingbase.jpg")  repeat-x;
}
.shoppingdetails
{
	background: url("/images/misc/shoppinghdetails.jpg")  repeat-y;
	FONT-SIZE: 14px;
	
	color: #4E4848;
	font: normal;
}
.shoppingbase
{
/*	BACKGROUND-COLOR: #909090;
*/
	/*filter:             progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#9DB5D1',EndColorStr='#FFFFFF');*/
	background: url("/images/misc/shoppingbase.jpg")  repeat-x;
}
.shoppingbottomlink
{
	color: #4682B4;
	color: red;
	font-family: arial, Helvetica, Sans-Serif;
	FONT-SIZE: 18px;
}
.shoppingservices
{
	color:#D17834;
	color:brown;
	font-family:    arial, Helvetica, Sans-Serif;
	FONT-SIZE: 22px;
}
.shoppingsubheading
{
	color: #222222;
	FONT-SIZE: 11px;
	font: normal;
}
td.shoppingimage
{
	BORDER-TOP: 3px solid #F9EF8E;
	BORDER-BOTTOM: 3px solid #F9EF8E;
	BORDER-LEFT: 3px solid #F9EF8E;
	BORDER-RIGHT: 3px solid #F9EF8E;

}
.shoppingtable
{
	BORDER-TOP: 1px solid #F9EF8E;
	BORDER-BOTTOM: 1px solid #F9EF8E;
	BORDER-LEFT: 1px solid #F9EF8E;
	BORDER-RIGHT: 1px solid #F9EF8E;
	
}
.shoppingitem
{
	BORDER-TOP: 1px solid #F9EF8E;
	BORDER-BOTTOM: 1px solid #F9EF8E;
	BORDER-LEFT: 0px solid #F9EF8E;
	BORDER-RIGHT: 0px solid #F9EF8E;
	font-size:14px;
	color: #222222;
}
.shoppinggridheader
{
	background: url("/images/misc/shoppingbase.jpg")  repeat-x;
	font-size:20px;
}
.shoppingfooter
{
	BORDER-TOP: 5px solid #F9EF8E;
	BORDER-BOTTOM: 0px solid #F9EF8E;
	BORDER-LEFT: 0px solid #F9EF8E;
	BORDER-RIGHT: 0px solid #F9EF8E;
}
.shoppingfooter1
{
	color: red;
	FONT-SIZE: 11px;
	font: normal;
	
}
.shoppingformlabel
{
	BACKGROUND-COLOR: #FEF7CB;
	padding-left: 2px;
}
.shoppingnotes
{
	font-size:10px;
	color: red;
}
.shoppingh2
{
	font-size: 10px;
	color: #747372;
	color: Red;
	
}
.shoppingsuggest
{
	font-size: 14px;
	color: #747372;
	color: Red;
	font-weight:strong;
	background: url("/images/misc/shoppingbase.jpg")  repeat-x;
}
TD.formHeading
{
	padding-left: 2px;
	font-family: Arial;
	font-size:14px;
	color:black;
	
}
/*h1,h2,p{margin: 0 10px}
h1{font-size: 150%;color: #9fb6d2;letter-spacing: 1px}
h2{font-size: 250%;color: #4396D8;letter-spacing: 1px}
/*h2{font-size: 200%;color: #FFF}*/
*/
p{padding-bottom:1em}
/*h2{padding-top: 0.3em}*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 25px;
	padding-bottom: 25px;	
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}
.textselected
{
	border:2px solid black;
	height:35px;
}
.textnormal
{
		border:0px solid #ADB6C0;
}